# Build directory
/build/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json

# Compiled binaries and libraries
*.o
*.a
*.so
*.exe
*.out

# IDE specific files
.vscode/
.idea/
*.swp
*~

# OS specific files
.DS_Store
Thumbs.db

/dist/
/coverage_report/
/docker-build.sh

.cache/

cmake-build-debug/
